*poky/.pyc
*poky/.pyo
/*.patch
poky/.repo/
poky/build*/
poky/pyshtables.py
poky/pstage/
poky/scripts/oe-git-proxy-socks
poky/sources/
poky/meta-*/
poky/buildtools/
!poky/meta-skeleton
!poky/meta-selftest
poky/hob-image-*.bb
*poky/.swp
*poky/.orig
*poky/.rej
*~
!poky/meta-poky
!poky/meta-yocto
!poky/meta-yocto-bsp
!poky/meta-ti
!poky/meta-openembedded
!poky/meta-yocto-imported
/poky/documentation/*/eclipse/
/poky/documentation/*/*.html
/poky/documentation/*/*.pdf
/poky/documentation/*/*.tgz
/poky/bitbake/doc/bitbake-user-manual/bitbake-user-manual.html
/poky/bitbake/doc/bitbake-user-manual/bitbake-user-manual.pdf
/poky/bitbake/doc/bitbake-user-manual/bitbake-user-manual.tgz
pull-*/
poky/bitbake/lib/toaster/contrib/tts/backlog.txt
poky/bitbake/lib/toaster/contrib/tts/log/*
poky/bitbake/lib/toaster/contrib/tts/.cache/*
poky/bitbake/lib/bb/tests/runqueue-tests/bitbake-cookerdaemon.log
poky/_toaster_clones/
poky/downloads/
poky/sstate-cache/
poky/toaster.sqlite
.vscode/